<div class="row mx-2">
    <form class="col-sm-6 col-md-4 col-xl-3 mx-auto mt-4" action="">
        <div class="">
            <label class="col-form-label mx-auto text-center" for="name">User name: </label>
            <input class="form-control" type="text" id="name" ng-model="name">
        </div>
        <div class="">
            <label class="col-form-label mx-auto text-center" for="password">Password: </label>
            <input class="form-control" type="password" id="password">
        </div>
        <div class="my-5 text-center">
            <a class="btn text-light bg-primary">Login</a>
        </div>
        
    </form>
</div>